<div class="flex items-center justify-center bg-gray-100 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full">
    
    <div>
      <h2 class="text-center text-3xl font-extrabold text-gray-900">
        bem vindo de volta!
      </h2>
    </div>
    <form class="space-y-6" [formGroup]="signinForm">
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm">
        <div>
          <label for="email-address" class="sr-only">email</label>
          <input id="email-address" type="email" autocomplete="email" required formControlName="email"
            [ngClass]="{'border-red-500': signinForm.controls['email'].invalid && signinForm.controls['email'].touched}"
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="email">
        </div>
        <div>
          <label for="password" class="sr-only">senha</label>
          <input id="password" type="password" autocomplete="current-password" required formControlName="password"
            [ngClass]="{'border-red-500': signinForm.controls['password'].invalid && signinForm.controls['password'].touched}"
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="senha">
        </div>
      </div>

      <small class="text-center text-red-500">{{errMsg}}</small>

      <div>
        <button type="button" (click)="onSignin()" [disabled]="loading || signinForm.invalid"
          [ngClass]="{'bg-gray-300 hover:bg-gray-300': loading || signinForm.invalid}"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <span *ngIf="loading"
            class="inline-block h-5 w-5 mr-3 animate-spin text-primary-500 rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"></span>
          entrar
        </button>
      </div>
    </form>
    <div class="flex items-center justify-center">
      <button type="button" (click)="toggleForm()"
        class="mt-5 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
        não possui uma conta ainda? cadastre-se
      </button>
    </div>
  </div>
</div>