<div class="self-centerflex items-center justify-center bg-gray-100 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full">
    <app-header [userState]="stateType" />
    <div>
      <h2 class="text-center text-3xl font-extrabold text-gray-900">
        create your account
      </h2>
    </div>
    <form class="mt-8 space-y-6" [formGroup]="signupForm">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="fullname" class="sr-only">fullname</label>
          <input id="fullname" type="fullname" autocomplete="fullname" required formControlName="fullname"
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="fullname">
        </div>
        <div>
          <label for="email-address" class="sr-only">email</label>
          <input id="email-address" type="email" autocomplete="email" required formControlName="email"
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="email address">
        </div>
        <div>
          <label for="password" class="sr-only">password</label>
          <input id="password" type="password" autocomplete="current-password" required formControlName="password"
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="password">
        </div>
      </div>

      <!-- Password rules -->
      <div class="mt-2 p-4 bg-white shadow rounded">
        <h3 class="text-sm font-semibold text-gray-700">password requirements:</h3>
        <ul class="list-disc ml-5 text-sm text-gray-600">
          <li>must contain at least 1 <strong>upper case</strong> letter</li>
          <li>must contain at least 1 <strong>lower case</strong> letter</li>
          <li>must contain at least 1 <strong>number or special character</strong></li>
        </ul>
      </div>

      <small class="text-center text-red-500">{{errMsg}}</small>

      <div>
        <button type="button" (click)="onSignup()" [disabled]="loading || signupForm.invalid"
          [ngClass]="{'bg-gray-300 hover:bg-gray-300': loading || signupForm.invalid}"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <span *ngIf="loading"
            class="inline-block h-5 w-5 mr-3 animate-spin text-primary-500 rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"></span>
          sign up
        </button>
      </div>
    </form>
    <div class="flex items-center justify-center">
      <button type="button" (click)="toggleForm()"
        class="mt-5 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
        already have an account? sign in
      </button>
    </div>
  </div>
</div>