<section class="flex max-h-full justify-center items-center">
  <div *ngIf="dataSource?.data?.length == 0" class="flex justify-center items-center">
    <app-spinner></app-spinner>
  </div>

  <app-table class="w-full px-8 mt-4 lg:px-32 lg:mt-16" *ngIf="dataSource?.data?.length != 0" [dataSource]="dataSource"
    [displayedColumns]="displayedColumns" [enableFilter]="true" [enableActions]="true"
    (firstAction)="onFirstAction($event)" (secondAction)="onSecondAction($event)">
  </app-table>
</section>